@charset "utf-8";
body {
width:400px;
height:450px;
margin: 0;
}
.red--box {
width: 400px;
height: 100px;
background: #ff0000;
}
.green--box {
width: 150px;
height: 250px;
background: #00ff51;
float: left;
}
.purple--box {
width: 150px;
height: 50px;
background: #cc00db;
float: left;
}
.beige--box{
  width: 100px;
  height: 150px;
  background: #ff9e6b;
  float: left;
}
.cyan--box {
  width: 150px;
  height: 100px;
  background: #0093b7;
  float: left;
}
.brown--box{
  width: 250px;
  height:100px;
  background: #8c2727;
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.yellow--box{
  width: 400px;
  height: 100px;
  background: #fff700
}