@charset "UTF-8";
/* 回答はここから */
.cardlist{
  display: flex;
  align-items: flex-start;
  list-style-position: outside;
}
.card1{
  width: 200px;
  padding 10px;
  margin: 60px;
  outline: 10px solid #655;
  box-shadow: 0 0 0 6px #655;
  border-radius: 13px;
  background: #d2b48c
}
.card2{
  width: 200px;
  padding 10px;
  margin: 60px;
  outline: 10px solid #655;
  box-shadow: 0 0 0 6px #655;
  border-radius: 13px;
  background: #d2b48c;
}
.card3{
  width: 200px;
  padding 10px;
  margin: 60px;
  outline: 10px solid #655;
  box-shadow: 0 0 0 6px #655;
  border-radius: 13px;
  background: #d2b48c;
}