@charset "utf-8";
body {
margin: 0;
}
.red--box {
width: 400px;
height: 100px;
background: #ff0000;
}
.main {
  display: flex;
}
.green--box {
width: 150px;
height: 250px;
background: #00ff1e;
}
.blue--box {
width: 250px;
height: 250px;
background: #3300ff;
}
.yellow--box {
  width: 400px;
  height: 100px;
  background: #ffe600;
}