@charset "utf-8";
body {
  width:400px;
  height:450px;
  margin: 0;
}
.red--box {
  width: 400px;
  height: 100px;
  background: #ff0000;
}
.nav{
  float: right;
  width: 160px;
  height: 60px;
  margin: 20px 20px 0 0;
  background: #ffffff;
}
.purple--box1{
  float: right;
  width: 40px;
  height: 40px;
  margin: 10px;
  background: #a9004b;
}
.purple--box2{
  float: right;
  width: 40px;
  height: 40px;
  margin: 10px 0 10px 10px;
  background: #a9004b;
}
.purple--box3{
  float: right;
  width: 40px;
  height: 40px;
  margin: 10px 0 10px 10px;
  background: #a9004b;
}
.side{
  float: left;
}
.green--box {
  width: 150px;
  height: 250px;
  background: #00ff51;
}
.content{
  float: right;
  width: 250px;
  height: 250px;
}
.brown--box {
  width: 250px;
  height: 250px;
  position: relative;
  background: #8c2727;
}
.white--box1{
  width: 150px;
  height: 50px;
  float: left;
  margin: 40px 0 0 40px;
  background: #ffffff;
}
.orange--box1{
  width: 140px;
  height: 40px;
  position: absolute;
  top: 45px;
  left: 45px;
  background: #ff863f;
}
.white--box2{
  width: 150px;
  height: 50px;
  float: left;
  margin: 100px 0 0 40px;
  background: #ffffff;
}
.orange--box2{
  width: 140px;
  height: 40px;
  position: absolute;
  top: 105px;
  left: 45px;
  background: #ff863f;
}
.white--box3{
  width: 150px;
  height: 50px;
  float: left;
  margin: 100px 0 0 40px;
  background: #ffffff;
}
.orange--box3{
  width: 140px;
  height: 40px;
  position: absolute;
  top: 105px;
  left: 45px;
  background: #ff863f;
}
.yellow--box{
  width: 400px;
  height: 100px;
  background: #fff700
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}